.image {
    height: 300px;
    position: relative;
    left: -30px;
  }
  
  .product__leftContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products__firstProduct {
    display: flex;
  }
  
  .rating {
    display: flex;
  }
  
  .product__price {
    display: flex;
  }
  
  .product__price > div {
    margin-right: 10px;
    font-weight: 700;
  }
  
  .products__oldPrice {
    text-decoration: line-through;
  }
  
  .product__price {
    margin-top: 15px;
  }
  
  .products__oldPrice {
    color: gray;
  }
  
  .product__rightContentContainer {
    margin-left: 35px;
    margin-right: 35px;
  }
  
  .product__info {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
  }
  
  .product__deliveryInfo {
    display: flex;
    margin-top: 15px;
  }
  
  .products__dispatchIcon,
  .products__returnIcon {
    display: flex;
  }
  
  .products__dispatchIcon .MuiButtonBase-root,
  .products__returnIcon .MuiButtonBase-root {
    padding: 5px;
  }
  
  .products__addToCartBtn {
    /* background-color: #fed442; */
  }
  
  .MuiButton-containedPrimary {
    background-color: #fed442 !important;
  }
  
  .product__name {
    width: 70%;
    font-size: 26px;
    font-weight: 700;
  }
  
  .rating .dv-star-rating .dv-star-rating-empty-star {
    color: lightgray !important;
  }
  
  .ratingTotal {
    color: #808080;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  
  .product__info > ul {
    padding-left: 15px;
    font-size: 10px;
  }
  
  .product__info > ul > li > strong {
    text-transform: uppercase;
  }
  
  .products__addRemoveButtons {
    display: flex;
    margin-top: 15px;
  }
  .products__addRemoveButtons .MuiButtonBase-root {
    padding: 0px;
    width: 150px;
    font-size: 10px;
    font-weight: 700;
    box-shadow: none;
    border-radius: inherit;
  }
  .cart-quantity > input {
    border: none;
    padding: 7px;
    font-size: 12px;
  }
  
  .products__iconText {
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  
  .product__deliveryInfo .MuiButtonBase-root {
    background-color: #f5f5f5;
  }
  
  .product__color {
    margin-top: 15px;
  }
  .products__firstProduct {
    background-color: white;
  }
  
  .products__secondProduct {
    background-color: #F0F0F0;
  }
  