.page__detailsBreadCrumbs {
  width: 95%;
  margin-left: auto;
  display: flex;
  padding-top: 30px;
}

.page__detailsBreadCrumbsLinks > ul {
  display: flex;
  list-style-type: none;
  color: #484848;
  font-size: 10px;
  padding-left: 0;
  margin: 12px;
}

.page__detailsBreadCrumbsLinks > ul > li {
  margin-left: 20px;
}

.page__detailsBreadCrumbsLinks > ul > li > a{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

.page__detailsBreadCrumbsLinks .highlighted {
  font-weight: 700;
}

.page__detailsBreadCrumbs .MuiSvgIcon-root {
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.54);
}

.page__detailsBreadCrumbsLinks li:before {
  content: "\25B8";
  color: #ffa500;
}

.page__detailsInfo {
  display: flex;
  border: 1px solid black; /*  remove later */
}

.page__detailsProductsOptions {
  border: 1px solid red; /*  remove later */
}

.page__detailsProducts {
  border: 1px solid green; /*  remove later */
}
