.image{
    height: 60vh;
    width: 30vw;
}

.products__firstProduct{
    display: flex;
}

.rating{
    display: flex;
}

.products__oldPrice{
    text-decoration: line-through;
}

.product__price{
    display: flex;
}