.image {
  /* height: 60vh;
  width: 30vw; */
  width: 100%;
  height: auto;

  position: relative;
  left: -30px;
}

.product__leftContent {
  /* width: 50%; should be included */
}
.products__firstProduct {
  display: flex;
}

.rating {
  display: flex;
}

.products__oldPrice {
  text-decoration: line-through;
  font-weight: 500;
}

.product__price {
  display: flex;
}

.product__price > h4 {
  margin-right: 10px;
}

.products__oldPrice {
  color: gray;
}

.product__rightContentContainer {
  margin-left: 35px;
  margin-right: 35px;
}

.product__info {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.product__deliveryInfo {
  display: flex;
}

.products__dispatchIcon,
.products__returnIcon {
  display: flex;
}

.products__addToCartBtn {
  /* background-color: #fed442; */
}

.MuiButton-containedPrimary {
  background-color: #fed442 !important;
}

.product__name {
  width: 75%;
}

.rating .dv-star-rating .dv-star-rating-empty-star {
  color: lightgray !important;
}

.ratingTotal {
  color: lightgray;
  font-weight: 700;
}

.product__info > ul {
  padding-left: 15px;
  font-size: 12px;
}

.product__info > ul > li > strong {
  text-transform: uppercase;
}

