.product__optionsLinks {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product__optionsLinks > ul {
  list-style-type: none;
  color: #484848;
  font-size: 12px;
  padding-left: 0;
  margin: 12px;
  /* line-height: 55px; */
}

.product__optionsLinks > ul > li {
  margin-left: 20px;
}

.product__optionsVerticalText {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-size: 100px;
  font-weight: 800;
  color: #fff;

  position: relative;
  left: -110px;
  top: 150px;
}

.product__OptionsSocialMediaLinks {
  display: flex;
  justify-content: flex-end;
}

.page__detailsProductsOptions {
  display: flex;
  flex: 0.3;
}

.page__detailsProducts {
  display: flex;
  flex: 0.7;
  background-color: #fff;
}
